.lectern-tabs-container {
    position: relative;


    .lectern-tabs-canvas {
        list-style-type: none;

        width: 100%;

        margin: 0px;
        padding: 0px;

        position: relative;

        overflow: auto;


        .lectern-tabs-frame {
            width: 100%;

            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;

            display: block;
        }
    }


    .lectern-tabs-tabbar {
        list-style-type: none;

        margin: 0px;
        padding: 0px;


        .lectern-tabs-tab {
            cursor: pointer;

            display: inline-block;
        }
    }
}
