dl.api,
dl.options {
    code {
        color: $color-primary-dark;
        font-weight: bold;
    }

    dd {
        @extend %_matshadow_1, %_width_full;

        background: $color-background;
        border-radius: 0px 0px $radius-small $radius-small;

        margin: 0em;
        padding: 0.01em $gap-small $gap-small $gap-small;
    }

    dt {
        @extend %_width_full;

        background-color: $color-primary;
        color: $white-text;

        border-radius: $radius-small $radius-small 0px 0px;
        font-weight: bold;

        font-size: 110%;
        margin: $gap-medium 0px 0px 0px;
        padding: $gap-small;

        > div {
            margin-bottom: $gap-small;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        .default,
        .opt,
        .subj {
            color: $white-secondary;
            font-style: italic;

            margin: 0em $gap-small;
        }
    }
}


dl.options {
    dt {
        &.obj {
            div {
                padding-left: 2em;
            }
        }

        .default {
            &:before {
                content: ": ";
            }
        }
    }
}