*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


header,
footer,
main {
    width: 100%;
    max-width: 1000px;

    margin: 0px auto;

    position: relative;
}


section.example {
    background-color: #d8d8d8;

    margin: 1em 0em;

    position: relative;
}


section.code {
    background-color: #eee;
    border-radius: 0.5em;

    margin: 0px 2em;
    padding: 0.25em;

    > pre {
        background-color: #fffff0;
        border: 1px #330 dashed;
        color: #330;
        font-weight: bold;

        margin: 1em;
        padding: 1em;
    }

    .lectern-source-module {
        margin: 1em 0em;

        &:first-child {
            margin-top: 0em;
        }

        &:last-child {
            margin-bottom: 0em;
        }
    }
}


@import 'demo.slider.scss';
@import 'demo.tabs.scss';
@import 'api.scss';
