@import 'vars.scss';
@import 'functions.scss';
@import 'mixins.scss';
@import 'extendables.scss';

@import 'common.scss';
@import 'layout.scss';
/*@import 'content.scss';*/






@import 'demo.slider.scss';
@import 'demo.tabs.scss';


body#demo-index {
    ul.available-demos {
        list-style-type: none;

        margin: 0px;
        padding: 0px;

        li {
            @extend %_bg_primary, %_matshadow_1, %_radius_small;

            width: ($content-width / 2) - ($gap-medium * 3);
            height: ((($content-width / 2) - ($gap-medium * 3)) / 4) * 3;

            margin: $gap-medium;
            padding: $gap-medium;

            position: relative;

            float: left;
            overflow: auto;

            &:after {
                content: "";

                clear: both;
                display: block;
            }


            h2 {
                text-align: center;
            }


            img {
                -moz-filter: drop-shadow(4px 4px 8px #484848);
                -webkit-filter: drop-shadow(4px 4px 8px #484848);
                filter: drop-shadow(4px 4px 8px #484848);

                max-width: 100%;

                margin-bottom: $gap-small;

                display: block;
            }
        }
    }
}


.doc-tabs {
    .doc-tabs {
        border-top: 1px rgba($color-accent-lite, $alpha-white-4) solid;
    }

    > .lectern-tabs-canvas {
        > .lectern-tabs-frame {
            &.lectern-tabs-active {
                z-index: 2;
            }

            &.lectern-tabs-inactive {
                z-index: -2;
            }
        }
    }

    > .lectern-tabs-tabbar {
        @extend %_bg_primary_lite;


        > .lectern-tabs-tab {
            color: #333;

            font-size: 80%;
            line-height: 1;
            padding: $gap-medium;

            transition:
                background  0.5s,
                border      0.5s,
                box-shadow  0.5s,
                color       0.5s
            ;

            &:hover {
                background-color: $color-accent-lite;
            }

            &.lectern-tabs-active {
                background-color: $color-accent-dark;
            }
        }
    }
}


@import 'api.scss';
