body#demo-slider {
    .lectern-slider-container {
        height: 10em;

        margin-bottom: 2em;

        .lectern-slider-caption {
            text-align: center;

            width: 100%;

            bottom: -1.5em;
        }

        .lectern-slider-frame {
            font-weight: bold;

            font-size: 200%;
            padding: 1em;
        }
    }
}
